@if (Request.IsAuthenticated) {
    <p>
        Hello, @User.Identity.Name!
        @Html.ActionLink("Log off", "Logoff", "Users")
    </p>
} else {
    <ul>
        <li>@Html.ActionLink("Log on", "Logon", "Users")</li>
    </ul>
}