@model IEnumerable<HashMasher.Model.LoggedLink>
@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Hey.</h1>
            <h2>How you doing?</h2>
        </hgroup>
    </div>
</section>
}


<h3>We suggest the following:</h3>

<ol class="round">
    
    @foreach (var item in Model)
    {
        <li>
            <h5>item.Link</h5>
            Message Here
        </li>
    }
</ol>
