@model IEnumerable<HashMasher.Model.LoggedLink>
@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Hey.</h1>
            <h2>How you doing?</h2>
        </hgroup>
    </div>
</section>
}


<h3>#codemash tweets with links:</h3>
    @foreach (var item in Model)
    {
        <div style="float:left;width:250px;">
            <h5><span class="count">@item.NumberOfTweets + 1</span> <a href="@item.Link" target="_blank">@item.Link</a></h5>
            @{
                var firstLink = item.StatusContainingLink.FirstOrDefault();
                var display = (firstLink !=null && string.IsNullOrEmpty(firstLink.HtmlText)) ? firstLink.Text : firstLink.HtmlText;
            }
            <p>@Html.Raw(display)</p>
        </div>
    }

