@model IEnumerable<HashMasher.Model.LoggedLink>
@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Hey.</h1>
            <h2>How you doing?</h2>
        </hgroup>
    </div>
</section>
}


<h3>#codemash tweets with links:</h3>

<ol class="round">
    
    @foreach (var item in Model)
    {
        <li>
            <h5><a href="@item.Link" target="_blank">@item.Link</a></h5>
            <p>@item.StatusContainingLink.First().Text</p>
        </li>
    }
</ol>
