@model IEnumerable<HashMasher.Model.ProcessedLink>
@{
    ViewBag.Title = "Home Page";
}
<div class="page-header">
    <h1>Tweets <small>from conferences.....with links!</small></h1>
</div>


<div class="row">
    <div class="span3">
        <h1>TRACKED</h1>
        <div class="tracked-link">
                @Html.ActionLink("#all", "Index", new { id = ""}, new { @class = "btn primary" })
            </div> 
        @foreach (var item in ViewBag.Tracked)
        {
            <div class="tracked-link">
                @{
                    var clean = item.Replace("#", "").Trim();
                }
                @Html.ActionLink((string)item, "Index", "Home", new { id = clean }, new { @class = "btn primary" })
            </div> 
        }
    </div>
    <div class="span11">
        <h1>@ViewBag.Tag</h1>
        @foreach (var item in Model)
        {
                @Html.Partial("_Tweet", item)
        }
    </div>
</div>

