<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="Castle.Windsor" version="3.0.0.4001" />
  <package id="Newtonsoft.Json" version="4.0.5" />
  <package id="NoRM" version="0.9.8" />
  <package id="ProMongoRepository" version="0.2" />
  <package id="twitterizer" version="2.4.0.26532" />
  <package id="twitterizer-streaming" version="2.4.0.26649" />
</packages>